###################################
## unwanted file artefacts       ##
###################################
*~
*.tar.bz2

###################################
## dirs with generated artefacts ##
###################################


# owncloud decompressed source dir 
*/owncloud/*
*/html/*
